.word-watch-container {
    display: flex;
    flex-direction: column;
    min-height: 100%;
    max-width: 1024px;
    height: 100dvh;
    justify-content: center;
    margin: 50px auto;
    
}
.word-watch {   
    display: grid;
    grid-template-columns: repeat(11, 1fr);
    height: 100%;
    background-color: black;
    transition: all 0.5s ease-in-out;
}

.char {
    color: rgb(27, 26, 26);
    /* font-weight: bold; */
    font-size: 1.5rem;
    text-align: center;
    margin: 0;
    padding: 0;

}
.char-visible {
    color: white;
    font-weight: bold;
}