.word-watch-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    max-width: 1024px;
    height: 100dvh;
    margin: 0 auto;
}
.word-watch {
    display: flex;
    flex-direction: column;
    justify-content: center;
    max-width: 1024px;
    height: 100%;
    margin: 50px;
}
.word-watch-row {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin: 0;
    height: 100%;
}
.char {
    color: rgb(27, 26, 26);
    /* font-weight: bold; */
    font-size: 1.5rem;
    text-align: center;
    margin: 0;
    padding: 0;

}
.char-visible {
    color: white;
    font-weight: bold;
}