.word-watch-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    max-width: 1280px;
    height: 100dvh;
    margin: 0 auto;
}
.word-watch::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    max-width: 1280px;
    left: 50%;
    transform: translateX(-50%);
    height: 100dvh;
    background-image: url("http://www.transparenttextures.com/patterns/light-wool.png");
    opacity: .15;
    z-index: -1;

}
.word-watch {
    display: flex;
    flex-direction: column;
    justify-content: center;
    max-width: 1280px;
    height: 100%;
    padding: 20px;

}
.word-watch-row {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin: 0;
    height: 100%;
    text-align: center;
}
.char {
    color: rgb(25, 25, 25);
    font-size: 1.5rem;
    width: 100%;
    margin: 0 auto;
    margin: 0;
    padding: 0;
    /* color: rgba(6, 6, 6, 0.6);
    text-shadow: 3px 2px 3px rgba(197, 197, 197, 0.2); */

}
.char-visible {
    color: rgb(192, 192, 192);
    font-weight: bold;
}